<!DOCTYPE html>
<html>
  <head>
    <title>newspicks</title>
  </head>
  <body>
    <div class="all">
      <div class="header">
        <nav>
          <ul>
          <li class="open-menu"><img src=""> メニュー</li>
          <li>
             <input class="search__field" placeholder="検索" type="search" value="" >
          </li>
              <li><input type="submit" value="送信"></li>
              <li class="margin"></li>
              <li class="logo">newspicks</li>
              <li class="margin"></li>
              <li class="customer">無料会員</li>
         </ul>
          </nav>

      </div>
        <aside class="follower">
        <div class="username">
          <span class="human"><%= image_tag 'human.jpeg' %>
        <img src="/assets/images/human.jpeg" alt="" ></span><p>taro tanaka</p></div>
        <span class="user-follow"><p>フォロー</p></span>
        <span class="user-folower"><p>フォロワー</p></span>
        <div class="user-news">お気に入りのニュース</div>
        </aside>
        </div>
        <div class="pickup">
          <%= image_tag 'topnews.jpeg' %>
        <img src="/assets/images/topnews.jpeg" alt="" height="500px" width="600px">
        </div>
        <div class="article">
          <span class="article__left"><span class="article__left__detail"><span class="article__left-detail__image">
            <%= image_tag 'business.jpeg' %>
        <img src="/assets/images/business.jpeg" alt="" ></span>大手銀行で手数料の引き上げ相次ぐビジネスドリブン系 ビジネスデザイナー
以前はフリーマーケットに出店していたので両替が重要でしたが、今はメルカリのおかげで全く両替することがなく…</span></span>
          <span class="article__right"><span class="article__right__detail"><span class="article__right-detail__image">
        <%= image_tag 'business.jpeg' %>
        <img src="/assets/images/business.jpeg" alt="" ></span>巨大！アメリカの｢株式時価総額｣トップ100S&S investments代表取締役時価総額の大きさもさることながら、トップ10に入っているアップル・マイクロソフトが創業から約40年、アマゾンが約25年、グーグルが約20年、フ…</span></span></span>
      <span></span>
      </div>
    </div>
    <div class="clearfix"></div>

  </body>
</html>
