<!DOCTYPE html>
<html>
  <head>
    <title>newspicks</title>
  </head>
  <body>
    <div class="all">
      <div class="header">
        <nav>
          <ul>
          <li class="open-menu"><img src=""> メニュー</li>
          <li>
             <input class="search-wrapper" placeholder="検索" type="search" value="" >
          </li>
              <li><input type="submit" value="送信"></li>
              <li class="margin"></li>
              <li class="logo">newspicks</li>
              <li class="margin"></li>
              <li class="customer">無料会員</li>
         </ul>
          </nav>

      </div>
        <aside class="follower">
        <div class="username">tanaka taro</div>
        <span class="user-follow">フォロー</span>
        <span class="user-folower">フォロワー</span>
        <div class="user-news">お気に入りのニュース</div>
        </aside>
        </div>
        <div class="pickup">トップニュース
          <img src="/images/topnews.jpeg" alt="" height="500px" width="600px">
        </div>
        <div class="article">個別のニュース
        </div>
    </div>
    <div class="clearfix"></div>

  </body>
</html>