<!DOCTYPE html>
<html>
  <head>
    <title>newspicks</title>
  </head>
  <body>
    <div class="all">
      <div class="header">
        <nav>
          <li class="open-menu"><img src=""> </li>
            <li class="search-wrapper">
            <input class="search" maxlength="200" type="text" id="global-search-box" placeholder="検索する" value="">
            </li>
            </li>
           </li>
          </nav>

      </div>
        <aside class="follower">aaaa
        </aside>
        </div>
        <div class="pickup">aaaaa
        </div>
        <div class="article">
        </div>
    </div>
  </body>
</html>