div {
    display: block;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

nav{
height: 30px;
}

ul li{
    display: inline-block;
    height: 10px;
}

input{
    height: 200px;
}

.logo{

    color:white;
}

.margin{
    width:200px;
}

.customer{
    color:white;
}

.all{
height:100%;
width:100%;
}

.header {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color:#15274D;
}

.open-menu{
color:white;
height:30px;
width:80px;
display: inline-block;
margin: 0px,50px,0px,0px;
}


.search-wrapper{
float:left;
height:50px;
width:150px;
display: inline-block;
}
.search{
height: 50px;
width:80px;
display: inline-block;
}

#global-search-box{
height: 50px;
width:80px;
}

.follower{
margin-top:50px;
height:1000px;
width:300px;
float:left;
}

.username{
width:180px;
height:100px;
margin-top:50px;
margin-left:50px;
background-color:red;
}

.user-follow{
width:150px;
height:100px;
margin-top:50px;
background-color:red;
float:left;
display: inline-block;
}

.user-folower{
width:150px;
height:100px;
margin-top:50px;
float:left;
background-color:green;
display: inline-block;
}

.user-news{
width:300px;
height:150px;
}

.pickup{
margin-top:50px;
height:300px;
width: calc( 100% - 300px );
float:right;
}

.article{
background-color:green;
height:300px;
width:630px;
width: calc( 100% - 300px );
float:right;
}



.clearfix::after {
height: 50px;
width: 100%;
background-color:#15274D;
content: '';
display: block;
clear: both;
}